# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# SQLite database
*.sqlite3
*.sqlite3-journal

# Environment variables
.env
.env.*
openai_key.txt

# Virtualenv
venv/
ENV/
env/

# Django static and media
staticfiles/
media/

# Logs
*.log

# Editor folders
.vscode/
.idea/
*.swp

# OS junk
.DS_Store
Thumbs.db